 <!-- stats component -->
<div class="flex w-full mb-10">
    <div id="negative_sentiment_stat" class="w-1/3 p-10">
        <%= render "shared/negative_sentiment", :total_negatives => total_negatives, :negatives_percentage_change => negatives_percentage_change %>
    </div>
    <div id="positive_sentiment_stat" class="w-1/3 p-10">
        <%= render "shared/positive_sentiment", :total_positives => total_positives, :positives_percentage_change => positives_percentage_change %>
    </div>
    <div id="nps_stat" class="w-1/3 p-10">
        <%= render "shared/estimated_nps", :estimated_nps => estimated_nps, :nps_score_change => nps_score_change %>
    </div>
</div>