<div class="w-full">
  <div class="overflow-x-auto">
    <h1 class="text-2xl font-bold text-base-content ml-2">Message Stream</h1>
    <p class="text-base-content ml-2 mb-5">A realtime message stream of all inbound company communication. You can adjust which messages are shown here in your account settings.</p>
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Email</th>
          <th>Message Url</th>
          <th>CX Score</th>
          <th>Date received</th>
        </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>        
        <tr class="hover">
          <td><%= event.sender_email %></td>
          <td><a href="https://app.frontapp.com/open/<%= event.front_message_id %>" target="_blank" class="">View Message</a></td>
          <td>
              <% if event.sentiment_score < -0.6 %>
                  <span class="badge badge-error p-3">Negative</span>
              <% elsif event.sentiment_score < -0.2 %>
                  <span class="badge badge-warning p-3">Somewhat Negative</span>
              <% elsif event.sentiment_score < 0.2 %>
                  <span class="badge badge-info p-3">Neutral</span>
              <% elsif event.sentiment_score < 0.6 %>
                  <span class="badge badge-accent p-3">Somewhat Positive</span>
              <% elsif event.sentiment_score <= 1 %>
                  <span class="badge badge-success p-3">Positive</span>
              <% end %>
          </td>
          <td><%= event.created_at %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  
</div>